<!doctype html>
<head>
	<meta charset="utf-8">
	<title>Product {{ product.id }} info | Semi Restful Route Demo</title>
	<link rel="stylesheet" href="/static/css/show.css" type="text/css">
</head>
<body>
	<div id='wrapper'>
		<h1>Product {{ product.id }}</h1>
		<p><span>Name:</span> {{ product.name }}</p>
		<p><span>Description:</span> {{ product.description }}</p>
		<p><span>Price:</span> ${{ product.price }}</p>
		<p>
			<a href='/edit/{{ product.id }}'>Edit</a> | <a href='/'>Back</a>
		</p>
	</div>
</body>
</html>